.section-container {
  height: 100%;
  width: 100%;
  align-content: flex-start;
  overflow-y: scroll;
}

.section {
  height: 34rem;
  width: 30%;
  display: inline-block;
  border: 1px solid blueviolet;
  border-radius: 0.75rem;
  margin: 2rem;
  cursor: pointer;
}

.section-image {
  height: 80%;
  text-align: center;
}

.section-name {
  text-align: center;
}
