.app {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container {
    height: 10%;
}

.sections-data {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.imageContainer {
    height: 6.5rem;
}

.imageStyle {
    height: 100%;
    border-radius: 1.75rem;
    width: 8rem;
}

.sectionsList {
    height: 100%;
    padding-left: 1.5rem;
}

.imageLabel {
    width: 100%;
    display: inline-flex;
}

.titleLabel {
    margin: 0px auto;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 500;
}

.navbar {
    width: 100%;
    position: fixed;
}

.navbarItem {
    cursor: pointer;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.activeNavbar {
    border-bottom: 3px solid red;
}

.activeSection {
    color: red;
}

.navbarItem:hover {
    cursor: pointer;
}

.leftColumn {
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
}

.rightColumnLabel {

    font-size: 24px;
    padding-left: 20px;
}

.leftColumnLabel {
    font-size: 24px;
}

.rightColumnButton {
    background-color: orange;
    border: 1px solid orange;
    border-radius: 2.75rem;
    height: 50px;
    width: 190px;
}

.rightColumn {
    text-align: right;
    margin-right: 15%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 49);
    color: white;
    text-align: center;
}